@font-face {
    font-family: "Chakra Petch";
    src: url('/assets/fonts/ChakraPetch-Regular.ttf');
}

@font-face {
    font-family: "Source Code Pro";
    src: url('/assets/fonts/SourceCodePro-Regular.ttf');
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body.palenight {
    --background-color: #292D3E;
    --text-color: #BFC7D5;
    --accent-color: #c792ea;
    --accent-secondary-color: #ffcb6b;
    --logo-one-colour: #ffcb6b;
    --logo-two-colour: #c3e88d;
    --logo-three-colour: #ff5572;
    --logo-four-colour: #f78c6c;

    --inline-code-background: #232631;
    --code-border: #7e57c2;
}

body.cyberfrost {
    --background-color: black;
    --text-color: #a1ace7;
    --accent-color: #5b6ee1;
    --accent-secondary-color: #bfc5e9;
    --logo-one-colour: #bfc5e9;
    --logo-two-colour: #bfc5e9;
    --logo-three-colour: #bfc5e9;
    --logo-four-colour: #bfc5e9;

    --inline-code-background: #232631;
    --code-border: #7e57c2;
}

body.limeboy {
    --background-color: #dcec94;
    --text-color: #2b512b;
    --accent-color: #108310;
    --accent-secondary-color: #0f380f;
    --logo-one-colour: #0f380f;
    --logo-two-colour: #0f380f;
    --logo-three-colour: #0f380f;
    --logo-four-colour: #0f380f;

    --inline-code-background: #abb67a;
    --code-border: #7e57c2;
}

@media screen and (max-width:700px) {
    body {
        font-size: 16px;
    }

    .header p {
        font-size: 12px;
    }
}

.container {
    max-width: 92%;
    margin: 0 auto 0 auto;
}

@media screen and (min-width:1000px) {
    .container {
        max-width: 800px;
    }
}

.header {
    h1 {
        margin: 0;
        padding-top: 20px;
    }

    p {
        font-size: 16px;
        margin-top: 0;
    }

    nav {
        margin-top: 20px;
    }
}

nav a {
    color: var(--text-color);
    padding-right: 10px;
    padding-left: 10px;
}
nav a:first-child {
    padding-left: 0;
}

.content-body {
    flex-grow: 1;

    h1:first-child {
        margin-top: 0;
    }
}

a {
    color: var(--text-color);
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    color: var(--accent-color);
}

h3, h4, h3 a, h4 a {
    color: var(--accent-secondary-color);
}

p {
    margin-top: 8px;
}

.post {
    h3 {
        margin-top: 0.5rem;
    }

    p {
        margin-top: 0.8rem;
    }
}

blockquote {
    margin-left: 10px;
    border-left: 2px solid grey;
    padding-left: 10px;
    font-size: 90%;
    font-style: italic;
}

figure.highlight pre {
    padding: 10px;
    overflow-x: auto;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto 0 auto;
}

p code {
    background: var(--inline-code-background);
    padding: 0 3px 0 3px;
    font-size: 80%;
}

.content-body {
    /* text-align: justify; */

    code.language-plaintext {
        background: #565f89;
        padding: 0 3px 0 3px;
    }

    pre {
        font-size: 85%;
        background-color: var(--inline-code-background);
        padding: 7px;
        border: 1px solid var(--code-border);
        overflow-x: auto;
    }

    a {
        color: var(--accent-secondary-color);
    }

    hr {
        border-color: var(--text-color);
        margin: 32px 0 32px 0;
    }
}

ul, ol {
    padding-left: 25px;
}

.footer {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 80%;
    text-align: center;
    line-height: 1.5;

    p {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .container {
        max-width: 95%;
        position: relative;
    }
}

.princess {
    position: absolute;
    top: 0;
    right: 0;

    background-image: url("/assets/images/princess-base.png");
    width: 48px;
    height: 48px;
    image-rendering: pixelated; 
}
.princess:hover {
    background-image: url("/assets/images/princess.png");
}

@media screen and (max-width:700px) {
    figure.highlight {
        margin: 10px 0 10px 0;
        font-size: 90%;
    }

    ul {
        padding-left: 25px;
    }
}

.logo-container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width:800px) {
    .logo-container {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
}

.ascii-logo {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -1px;
    line-height: 100%;
}
.ascii-logo a {
    text-decoration: none;
}

.ascii-logo:nth-child(1) a {
    color: var(--logo-one-colour);
}
.ascii-logo:nth-child(2) a {
    color: var(--logo-two-colour);
}
.ascii-logo:nth-child(3) a {
    color: var(--logo-three-colour);
}
.ascii-logo:nth-child(4) a {
    color: var(--logo-four-colour);
}

.ascii-logo a:hover {
    color: var(--accent-color);
}

.ascii-line:hover {
    position: relative;
    left: 2px;
}

button.theme-switcher {
    all: unset;
    cursor: pointer; /* Restores the clickable pointer cursor */
    text-decoration: underline;
}
button.theme-switcher:disabled {
    text-decoration: none;
    cursor: unset;
}
